.main-container{
   display: flex;
   width: 100%;
   flex-direction: row;
}

.img-container{
   width: 50%;
}

.signup-image{
   width: 100%;
   height: 100%;
}

form{
   margin-top: 20px;
   padding-top: 0px;
}

.signup-form{
   margin: 40px auto 0px auto;
   display: flex;
   flex-direction: column;
}

.signup-form h2{
   color: #E5700B;
   font-size: 30px;
   font-weight: 600;
   font-family: "Urbanist", sans-serif;
   text-align: center;
   margin-bottom: 20px;
}

.signup-form form{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.signup-form label{
   font-family: "Urbanist", sans-serif;
   color: #0a0a0a;
   font-size: 20px;
}

.signup-form input{
   width: 500px;
   height: 40px;
   padding: 25px;
   border: 1.5px solid #0a0a0a;
   border-radius: 12px;
   outline: none;
   font-size: 18px;
}

.signup-form input::placeholder{
   font-family: "Urbanist", sans-serif;
   color: #736e6e;
}

.signup-btn{
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #fafafa;
   background: #E5700B;
   width: 150px;
   height: 40px;
   margin: 30px auto 0px auto;
   border: 1px solid #E5700B;
   border-radius: 12px;
   font-family: "Urbanist", sans-serif;
   padding: 23px 15px;
   font-size: 18px;
   font-weight: 600;
}

.signup-form p{
   font-family: "Urbanist", sans-serif;
   font-size: 18px;
   margin-top: 20px;
}

.signup-form p > a{
   text-decoration: underline;
   color: #E5700B;
   font-weight: 600;
}

#alert
{
   width: 40%;
   margin: 20px auto 0px auto;
   height: 80px;
   z-index: 2;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 20px;
   font-family: "Urbanist", sans-serif;
   font-weight: 600;
}

#ownAccount
{
   text-align: center;
}

@media (max-width: 991px) {
   .main-container{
      display: flex;
      flex-direction: column;
   }

   .image-container{
      display: none;
   }

   .signup-form{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
      margin-bottom: 0px;
      padding-top: 0px;
      padding-left: 0px;
   }
   form{
      padding-top: 10px;
   }
   .signup-form input{
      width: 350px;
   }

   .signup-form label{
      font-family: "Urbanist", sans-serif;
      color: #0a0a0a;
      font-size: 18px;
   }

   .signup-form input::placeholder{
      font-family: "Urbanist", sans-serif;
      color: #736e6e;
      font-size: 18px;
   }

   .signup-btn{
      font-family: "Urbanist", sans-serif;
      padding: 22px 15px;
      font-size: 18px;
      font-weight: 500;
      margin: 30px auto 30px auto;
   }
   
   .signup-form h2{
      color: #E5700B;
      font-size: 30px;
      font-weight: 600;
      font-family: "Urbanist", sans-serif;
      text-align: center;
      margin-bottom: 0px;
   }

   #alert
   {
      width: 40%;
      margin: 20px auto 0px auto;
      height: 100px;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 18px;
      font-family: "Urbanist", sans-serif;
      font-weight: 600;
   }
}